.layout__content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 15%);
}
.space {
  margin: 16px 0;
}

/* ShopSketch */
.dashed {
  border: 3px dashed #d9d9d9;
  background-color: transparent;
}
.shop {
  height: 200px;
}
.shop p {
  font-size: 2rem;
}
.shop-delete:hover {
  color: #ff4d4f;
}
.shops {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-gap: 7rem;
}
/* -----------OFFLINE---------- */
.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 6rem;
  align-items: start;
}
.features h4 {
  color: #54483a;
}
.feature {
  float: left;
  display: grid;
  width: auto;
  margin-bottom: 0;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;
}
.feature__text {
  font-size: 1.7rem;
}

.copyright {
  font-size: 1.4rem;
  color: #aaa;
  margin-top: 6rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%;
}
